.areaName
  margin: 1rem 0 0 2rem

.areaContent
  display: flex
  flex-wrap: wrap

.relativeWrapper
  display: flex
  flex-wrap: wrap
  position: relative
  flex-direction: row

.connection
  z-index: 0
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: -0.5rem
  width: 1rem
  height: 3.5rem
  background-color: #203d74

.container
  z-index: 1
  background-color: #2b4e87
  position: relative
  border-radius: 0.5rem

  display: flex
  justify-content: center
  align-items: center

  margin: 0.5rem
  width: 8rem
  height: 5rem
  padding: 1rem

.marker
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 0
  background-color: white
  width: 0.4rem
  height: 3.5rem
  border-top-right-radius: 1rem
  border-bottom-right-radius: 1rem



.sku
  display: inline-block
  font-size: 1.5rem


.defaultSku
  position: absolute
  right: 0.5rem
  top: 0.5rem
