@import "./breakpoints"

html
  font-size: 15px

  @include xxl
    font-size: 20px
  @include xxl
    font-size: 25px

body
  background-color: #19263b
  color: white
  font-family: 'Montserrat', sans-serif

  margin: 0
  font-size: 1rem

*,
*:before,
*:after
  box-sizing: border-box


h1, h2, h3, h4, h5, h6
  margin: 0
  font-weight: 400

.btn
  display: inline-block
  background: #2b4e87
  color: white
  border: none
  border-radius: 0.5rem
  cursor: pointer
  margin: 1rem 0 1rem 2rem
  transition: color 0.2s ease-in
  outline: none
  padding: 0.4rem 1.3rem

  @include sm
    font-size: 0.8rem
  @include md
    font-size: 1rem
  @include lg
    font-size: 1.2rem
  @include xl
    font-size: 1.2rem

  &:hover
    background: #1e3d77

  &:active
    background: #132f62








